@mixin base {
  width: 100px;
  height: 84px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: center;
  border-width: 2px;
  font-size: 12px;
}

.card {


  @include base;
  @apply  bg-bg-paleBlue border-bg-softBlue;

  & > p {
    @apply opacity-[48%];
  }

  &:hover {
    @apply opacity-[70%];
  }

  &__active {
    @include base;
    @apply bg-bg-white border-accent-blue !border-2;
  }
}