@tailwind base;
@tailwind components;
@tailwind utilities;

:root * {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: bold;
    src: url(/public/fonts/Intro-Bold.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Intro-Book';
    font-style: normal;
    font-weight: normal;
    src: url(/public/fonts/Intro-Book.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Intro-Book-Italic';
    font-style: normal;
    font-weight: normal;
    src: url(/public/fonts/Intro-Book-Italic.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Intro-Light';
    font-style: normal;
    font-weight: normal;
    src: url(/public/fonts/Intro-Book.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Intro-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(/public/fonts/Intro-Regular.ttf) format('ttf');
  }
}

h1, .h1 {
  @apply text-[40px] text-text-primary leading-6 font-intro-bold font-bold;
}

h2, .h2 {
  @apply text-[24px] text-text-primary leading-6 font-intro-bold font-bold;
}

h3, .h3 {
  @apply text-[22px] text-text-primary leading-8 font-intro-regular;
}

h4, .h4 {
  @apply text-[22px] text-text-primary leading-8 font-intro-book;
}

h5, .h5 {
  @apply text-[18px] text-text-primary leading-6 font-intro-regular;
}

.text-primary {
  @apply text-[16px] text-text-secondary leading-6 font-intro-book;
}

.text-secondary {
  @apply text-[14px] text-text-primary leading-6 font-intro-book;
}

.text-menu {
  @apply text-[18px] text-text-primary leading-[48px] font-intro-book;
}

.text-price {
  @apply text-[32px] text-text-primary leading-10 font-intro-regular;
}

.text-button {
  @apply text-[18px] text-text-primary leading-6 font-intro-regular;
}